<!--
    Store under ~/Library/LaunchAgents/com.anoopc.poorbunny.plist
    launchctl load ~/Library/LaunchAgents/com.anoopc.poorbunny.plist
    launchctl start com.anoopc.poorbunny
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.anoopc.poorbunny</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>--login</string>
        <string>-c</string>
        <string>python3 poorbunny.py 2>&1 | ts '[%b %d %H:%M:%S]'</string>
    </array>
    <key>StandardOutPath</key>
    <string>stdout_stderr.log</string>
    <key>StandardErrorPath</key>
    <string>stdout_stderr.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/anoopchaurasiya/public_repos/poorbunny</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
