<!--
    Store under ~/Library/LaunchAgents/com.anoopc.poorbunny.plist
    launchctl load ~/Library/LaunchAgents/com.anoopc.poorbunny.plist
    launchctl start com.anoopc.poorbunny
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.anoopc.poorbunny</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>/usr/local/bin/python3 ~/public_repos/poorbunny/poorbunny.py > ~/public_repos/poorbunny/stdout.log 2> ~/public_repos/poorbunny/stderr.log</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
